.login-page {
    .logo-container {
        display: flex;
        font-size: 1.6rem;
    }

    .page-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        form {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 80rem;
            gap: 1.6rem;

            input, select {
                padding: 0.8rem;
            }

            .form-item {
                display: flex;
                flex-direction: column;
                gap: 0.8rem;
            }
        }

        .button-list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 1.6rem;
        }
    }
}
