.landing-page {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 0.1rem solid #ddd;
        padding: 0.8rem;
        text-align: center;
    }

    th {
        background-color: #f4f4f4;
    }

    input[type="number"] {
        width: 6rem;
        padding: 0.8rem;
        text-align: center;
        border: 0.1rem solid #ddd;
        border-radius: 0.8rem;
    }

    .available-stock-table, .purchased-stock-table {
        display: flex;
        flex-direction: column;
        max-width: 80rem;
        width: 100%;
        gap: 2.4rem;
        align-self: center;

        .stock-table-container {
            overflow-x: auto;
        }
    }
}