.admin-analytics-page {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    .tables-container {
        display: flex;
        flex-direction: column;
        gap: 4.8rem;
        width: 100%;
        max-width: 80rem;
        align-self: center;

        &-section {
            display: flex;
            flex-direction: column;
            gap: 2.4rem;

            .table-container {
                display: flex;
                flex-direction: column;
                max-width: 80rem;
                overflow-x: auto;

                table {
                    width: 100%;
                    border-collapse: collapse;
                }

                th,
                td {
                    border: 0.1rem solid #ddd;
                    padding: 0.8rem;
                    text-align: left;
                }

                th {
                    background-color: #f2f2f2;
                }

                td:last-child,
                th:last-child {
                    @media only screen and (min-width: 600px) {
                        width: 18rem;
                        min-width: 18rem;
                        max-width: 18rem;
                    }

                    @media only screen and (min-width: 960px) {
                        width: 20rem;
                        min-width: 20rem;
                        max-width: 20rem;
                    }
                }
            }
        }
    }

    .chart-section {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        align-items: center;

        .tyreChartContainer,
        .dealerChartContainer {
            margin: auto;
            padding: 1.6rem;
            background: #fff;
            box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
            border-radius: 0.8rem;

            h1 {
                text-align: center;
                color: #333;
            }
        }
    }
}
