.tyre-details.page-content {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    font-size: 1.6rem;

    .title-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 80rem;
        align-self: center;
        gap: 0.8rem;
    }

    .dealer-list {
        width: 100%;
        max-width: 80rem;
        align-self: center;

        li {
            .purchase-container {
                display: flex;
                flex-direction: row;
                gap: 1.6rem;
                align-items: center;

                input {
                    width: 4rem;
                    padding: 0.8rem;
                }
            }
        }
    }
}