html {
    font-size: 62.5%;

    body {
        margin: unset;

        .page-title {
            font-size: 4.8rem;
            padding-bottom: 2.4rem;
        }

        .area-title {
            font-size: 3.2rem;
        }

        .page-title, .area-title {
            text-align: center;
            color: #27509b;
        }

        button {
            width: fit-content;
            font-size: 1.6rem;
            padding: 0.8rem 1.6rem;
            border: none;
            border-radius: 0.8rem;
            cursor: pointer;
        }

        h1, h2 {
            margin: unset;
        }

        .page-content {
            padding: 1.6rem 0.8rem;

            @media only screen and (min-width: 600px) {
                padding: 3.2rem 6.4rem;
            }
        }
    }
}
