.signup-page {
    .signup-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4.8rem;
        padding: 4.8rem 6.4rem;

        form {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 50rem;
            gap: 3.2rem;

            input, select {
                padding: 0.8rem;
            }

            .form-item {
                display: flex;
                flex-direction: column;
                gap: 0.8rem;
            }
        }

        .logo-container {
            display: flex;
            font-size: 1.6rem;
        }
    }

    .button-list {
        display: flex;
        flex-direction: row;
        justify-content: center;

        button {
            color: #fff;
            background-color: #27509b;
        }        
    }
}
