.order-details.page-content {
    .order-list {
        width: 100%;
        max-width: 80rem;
        align-self: center;
        gap: 2.4rem;

        li {
            .rating-container {
                margin-top: 0.8rem;
            }
        
            .stars {
                display: flex;
                gap: 1.6rem;
            }
        
            .star {
                cursor: pointer;
                font-size: 2.4rem;
                color: #ccc;
                transition: color 0.2s;
            }
        
            .star.active {
                color: #ffcc00;
            }
        }
    }
}