.order-details.page-content {
    .order-list {
        width: 100%;
        max-width: 80rem;
        align-self: center;
        gap: 2.4rem;

        li {
            gap: 1.6rem;

            .rating-container {
                display: flex;
                flex-direction: column;
                gap: 0.8rem;

                .stars {
                    display: flex;
                    gap: 0.8rem;
                }
            }

            .rating-display {
                display: flex;
                gap: 0.8rem;
                align-items: center;
            }

            .star {
                cursor: pointer;
                font-size: 2.4rem;
                color: #ccc;
                transition: color 0.2s;
            }
        
            .star.active {
                color: #ffcc00;
            }
        }
    }
}